footer {
    height: 13rem;
    background-color: black;
        p {
            font-size: 1.5rem;
            color: white;
            @include    devices(mobile) {
                margin: 0;
                font-size: 0.75rem;
            }
            br {
                display: none;
                @include    devices(mobile) {
                    display: block;
                }
            }
        }

    .div_footerflex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5rem
    }
}