.cards {
    position: relative;
    height: 30rem;
    width: 30rem;
    padding: 2.5rem 3.5rem 2.5rem 2rem;
    margin-left: 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;

    img {
        object-fit: cover;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }

    p {
        position: absolute;
        word-wrap: break-word;
        padding-left: 1.25rem;
        padding-right: 5rem;
        font-size: 18px;
    }
}