.NavCards {
    position: relative;
    margin: 2.5rem 3.5rem 2.5rem 4.5rem;
    cursor: pointer;

    .cards-div_img  {
        position: relative;
        height: 25rem;
        width: 25rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        img {
            object-fit: cover;
            border-radius: 10px;
            height: 100%;
            width: 100%;
        }
    }

    .cards-div_p {
        position: absolute;
        word-wrap: break-word;
        padding-left: 1.25rem;
        padding-right: 5rem;
        border-radius: 10px;
        width: 75%;
        background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));

        p {
            font-size: 18px;
        }
    }
}