.aproposCollapse {
    padding-bottom: 2rem;
    @include    devices(mobile) {
        width: 19rem;
        padding-bottom: 1rem;
    }

        .collapse_title-Div {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        background-color: #FF6060;
        box-sizing: border-box;
        border-radius: 5px;
        height: 3.25rem;
        width: 90rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        @include    devices(mobile) {
            width: 19rem;
            height: 1.8rem;
            padding-top: 0.3rem;
        }

             p {
            margin: 0;
            padding-left: 1.5rem;
            color: white;
            @include    devices(mobile) {
                font-size: 13px;
            }
            }

            .chevron {
                transform: rotate(180deg);
                transition: 0.4s ease-in-out;
                cursor: pointer;
                @include    devices(mobile) {
                    padding-top: 0.7rem;
                    height: 0.6rem;
                }
            }

            .rotation {
                transform: rotate(0deg);
                transition: 0.4s ease-in-out;
                @include    devices(mobile) {
                    padding-top: 0;
                    padding-bottom: 0.7rem;
                }
            }

        }

        .collapse_description-Div {
            background-color: rgb(245, 245, 245);
            box-sizing: border-box;
            border-radius: 5px;
            width: 90rem;
            opacity: 0;
            height: 0;
            transition: all 0.4s ease-in-out;
            @include    devices(mobile) {
                width: 19rem;
            }

            p, ul {
                margin: 0;
                padding-left: 1.25rem;
                padding-bottom: 0.8rem;
                padding-top: 0.8rem;
                font-size: 1.2rem;
                list-style-type: none;
                color: #FF6060;
                @include    devices(mobile) {
                    font-size: 12px;
                }
                li {
                    white-space: pre-wrap;
                }
            }
        }

        .animatedText {
            opacity: 1;
            height: 7rem;
            transition: all 0.4s ease-in-out;
            @include    devices(mobile) {
                height: 10rem;
            }
        }

        /************************************************/
        .collapse_logement-div {
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            background-color: #FF6060;
            box-sizing: border-box;
            border-radius: 5px;
            height: 3.25rem;
            width: 36rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            @include    devices(mobile) {
                width: 19rem;
                height: 1.8rem;
                padding-top: 0.3rem;
            }

            p {
            margin: 0;
            padding-left: 1.5rem;
            color: white;
            @include    devices(mobile) {
                font-size: 13px;
                padding-left: 0.8rem;
            }
            }

            .chevron {
                transform: rotate(180deg);
                transition: 0.4s ease-in-out;
                cursor: pointer;
                @include    devices(mobile) {
                    padding-top: 0.7rem;
                    height: 0.6rem;
                }
            }

            .rotation {
                transform: rotate(0deg);
                transition: 0.4s ease-in-out;
                @include    devices(mobile) {
                    padding-top: 0;
                    padding-bottom: 0.7rem;
                }
            }
        }

        .collapse_logement-detail-div {
            background-color: rgb(245, 245, 245);
            box-sizing: border-box;
            border-radius: 5px;
            width: 36rem;
            opacity: 0;
            height: 0;
            transition: all 0.4s ease-in-out;
            @include    devices(mobile) {
                width: 19rem;
            }

            p, ul {
            margin: 0;
            padding: 0.8rem 1.25rem 2rem 1.25rem;
            font-size: 1.2rem;
            list-style-type: none;
            color: #FF6060;
            @include    devices(mobile) {
                font-size: 12px;
            }
            }

            ul li {
                padding-top: 0.2rem;
                padding-left: 0.4rem;
            }

        }

        .animatedText-logement {
            opacity: 1;
            height: 14rem;
            transition: all 0.4s ease-in-out;
            @include    devices(mobile) {
                height: 10rem;
            }
        }
}

#collapse_logement-right {
    margin-left: 16rem;
    @include    devices(mobile) {
        margin: 0;
    }
}