.rate_star-div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 18px;
    margin-left: 77rem;
    @include    devices(mobile) {
        margin: 4rem 0rem 0rem 0rem;
    }
}

.rate-container {
    display: flex;
    align-items: flex-start;
}

.star {
    width: 2.25rem;
    height: 2.25rem;
    @include    devices(mobile) {
        width: 1.125rem;
        height: 1.125rem;
    }
}