.rate_star-div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 18px;
    margin-left: 75rem;
}

.rate-container {
    display: flex;
    align-items: flex-start;
}

.star {
    width: 2.25rem;
    height: 2.25rem;
}